$font: "Poppins", sans-serif;
$primary: #006a93;

$danger: red;


$light: #fff;
$dark: #000;

$text-xs: 0.75rem; //12px
$text-sm: 0.875rem; //14px
$text-base: 1rem; //16px
$text-md: 1.125rem; //18px
$text-lg: 1.25rem; //20px
$text-xl: 1.5rem; //24px
$text-2xl: 2rem; //32px
$text-3xl: 3rem; //48px
